/** Clicky-Stylesheet **/

#ref-count{
	cursor:pointer;
}

#ref-count:before{
	background-color:blue;
	height:2em;
	content:'test-face';
	text-align: center;

	position:absolute;
	width:100%;
		left:0;
		top:100%;
	cursor:default;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border:solid 1px gray;
	border-top:none;
}

.sent {
	background-color:blue !important;
}